{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2020
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > navbar élément menu utilisateur
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

<li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.prenom }}
   {{ user.nom }}
 </a>
 <ul class="dropdown-menu dropdown-menu-end">
   <li><a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/pro/edit/{{ user.id }}/">
     <i class="fas fa-user-edit fa-fw text-muted me-1"></i>
     Edition profil
   </a></li>
   <li><a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/userParameters/">
     <i class="fas fa-user-cog fa-fw text-muted me-1"></i>
     Paramètres utilisateur
   </a></li>
   {% if config.optionGeActiverPhonecapture == 'true' %}
     <li><a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/user/userPhoneCaptureAccess/">
       <i class="fas fa-mobile-alt fa-fw text-muted me-1"></i>
       Activer PhoneCapture
     </a></li>
   {% endif %}
   {% if user.rank == 'admin' %}
     <li><hr class="dropdown-divider"></li>
     <li><a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/configuration/">
       <i class="fas fa-cogs fa-fw text-muted me-1"></i>
       Configuration
     </a></li>
   {% endif %}
   <li><hr class="dropdown-divider"></li>
   <li><a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/login/logOutDo/">
     <i class="fas fa-power-off fa-fw text-muted me-1"></i>
     Déconnexion
   </a></li>
 </ul>
</li>
